h1 {
  color: #0B032D;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
}



.search, a {
  text-align: center;
  align-content: center;
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  color: #0B032D;
}

img {
  align-items: center;
}

li, ul {
  align-content: center;
  font-family: 'EB Garamond', serif;
}
